{% extends "base.html" %}

{% block title %}맛있는 레시피{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">

    <style>
        .buckingwhite {
            background-color: rgba(255, 255, 255, 1); /* 반투명 흰색 배경 */
            padding: 10px; /* 배경색 영역에 패딩 추가 (선택 사항) */
            border-radius: 5px; /* 배경색 영역 모서리 둥글게 (선택 사항) */
        }
    </style>
{% endblock %}

{% block content %}
<h1>음식 종류</h1>
<div class="cuisine-buttons">
    {% for cuisine in cuisines %}
    <a href="{{ url_for('cuisine_recipes', cuisine_id=cuisine.id) }}">
        <button>{{ cuisine.name }}</button>
    </a>
    {% endfor %}
</div>
<h1>새로 나온 레시피</h1>
<ul class="buckingwhite">
    {% for recipe in new_recipes %}
    <li><a href="{{ url_for('recipe_detail', recipe_id=recipe.id) }}">{{ recipe.name }}</a></li>
    {% endfor %}
</ul>

<h1></h1>
<br><br> 
<!--here-->
<!--here-->
<div class="homepage-container">
    <div class="image-container">
        <div class="image-slider">
            <div class="slider-container">
                {% for food_ani in food_ani_images %}
                <div class="slide fade">
                    <img src="{{ url_for('static', filename='img/' + food_ani.food_ani) }}" style="width:100%">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="separator"></div>

    <div class="text-container">
        <div class="orange-box">
            <h2>요리하다~</h2>
            <p>오늘도 요리를 해보아요. </p>
            <p>맛있는 레시피를 찾고 계신다고요? 제 웹사이트에서 다양한 종류의 레시피를 만나보시죠! 새로운 레시피가 매일 업데이트는 안됩니다.</p>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/slider.js') }}"></script>
{% endblock %}