{% extends "base.html" %}

{% block title %}맛있는 레시피{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
{% endblock %}

{% block content %}
<h1>음식 종류</h1>
<div class="cuisine-buttons">
    {% for cuisine in cuisines %}
    <a href="{{ url_for('cuisine_recipes', cuisine_id=cuisine.id) }}">
        <button>{{ cuisine.name }}</button>
    </a>
    {% endfor %}
</div>
<h1>새로 나온 레시피</h1>
<ul>
    {% for recipe in new_recipes %}
    <li><a href="{{ url_for('recipe_detail', recipe_id=recipe.id) }}">{{ recipe.name }}</a></li>
    {% endfor %}
</ul>

<h1></h1>
<br><br> 
<!--here-->
<div class="image-slider">
    <div class="slider-container">
        {% for food_ani in food_ani_images %}
        <div class="slide fade">
            <img src="{{ url_for('static', filename='img/' + food_ani.food_ani) }}" style="width:100%">
        </div>
        {% endfor %}
    </div>
</div>

<script src="{{ url_for('static', filename='js/slider.js') }}"></script>
{% endblock %}